@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    font-weight: bolder;
}
.mt-29{
    margin-top: 116px;
}
.mt-22{
    margin-top: 88px;
}
*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Poppins', sans-serif;}

.text-xsm{font-size: 12px;}
